*{
    font-family: 'Orbitron', sans-serif;
    padding: 0;
    margin: 0;
}
body{
    position: relative;
}
h1{
    font-size: 72px;
}
h2{
    font-size: 48px;
}
h3{
    font-size: 32px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
button, p, div{
    box-sizing:border-box;
}
.container{
    width: 1340px;
    margin: 0 auto;
}
.mobile{
    display: none;
}
.desctop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.multiplay_container{
    width: 1440px;
}
.wraper{
    display: flex;
    justify-content: center;
}
.main{
    padding: 20px 60px 250px;
    position: relative;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.88) 60%,#57B8FF 40% );
}

.logo{
    transition: all 0.3s ease-in;
}
.logo:hover{
    transform: scale(1.1);
}
header ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 715px;
}
.nav_menu-link{
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
.nav_menu-link:hover{
    color:#f7e6b1;
}
.nav_link-active{
    color: #FAC422;
}
.contacts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}
.basket{
    transition: all 0.3s ease-in;
}
.basket:hover{
    transform: translateY(-5px);
}
.contacts_basket{
    position:relative;
}
.basket_num{
    position: absolute;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    color: #141820;
    padding: 0 6px;
    background: #fff;
    border-radius: 9px;
    top: -10px;
    right: -16px;
}
.contacts_btn{
    box-sizing: border-box;
    padding: 16px 31px;
    background: none;
    border: 1px solid #FFFFFF;
    font-size: 18px;
    color: #FFFFFF;
    transition: all 0.3s ease-in;
}
.contacts_btn:hover{
    border: 1px solid #FAC422;
    color: #FAC422;
}
.main_wraper{
    margin-top: 209px;
}
.future-fire{
    position: relative;
    line-height: 16px;
    text-transform: uppercase;
    color: #57B8FF;
    margin-left: 40px;
    font-size: 16px;
}
.future-fire::before{
    content:'';
    background: url('../img/icon/icon_fire.svg') center/cover no-repeat;
    width: 32px;
    height: 32px;
    position: absolute;
    top: -13px;
    left: -40px;
}
.main_content{
    position: relative;
}
.main_title{
    line-height: 86px;
    text-transform: capitalize;
    color: #FFFFFF;
    width: 656px;
    margin-top: 16px;
    position: relative;
}
.main_title::after{
    content:'';
    background:url('../img/line-gold.svg')center/cover no-repeat;
    width: 434px;
    height: 16px;
    position: absolute;
    bottom: 80px;
    right: 10px;
}
.main_subtitle{
    font-size: 18px;
    line-height: 28px;
    color: #999999;
    width: 615px;
    margin-top: 43px;
}
.main_more{
    margin-top: 53px;
}
.main_more-link{
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    color: #FFFFFF;
    background: none;
    border: none;
}
.btn-active{
    border: none;
    padding: 21px 34px;
    background: #57B8FF;
    margin-right: 40px;
}
.btn_hover{
    padding: 21px 34px;
}
.btn_hover:hover{
    background: #2b5878;
}
.social_link{
    position: absolute;
    width: 307px;
    transform: rotate(-90deg);
    top: 41.9%;
    left: -29%;
    z-index: 3;
}
.social_item{
    font-size: 10px;
    line-height: 25px;
    color: #80858F;
 
}
.social_link{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sponsor{
    padding: 130px 60px;
    background: #FDD04A;
}
.sponsor_title{
    line-height: 58px;
    text-align: center;
    text-transform: capitalize;
    color: #222730;
    position: relative;
    margin-bottom: 45px;
}
.sponsor_title::after{
    content:'';
    background: url('../img/line.svg')center/cover no-repeat;
    width: 292px;
    height: 12px;
    position: absolute;
    bottom: -13px;
    right: 34%;
}
.sponsor_descript{
    width: 576px;
    line-height: 26px;
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
    color: #555555;
    margin-bottom: 41px;
}
.sponsor_wraper{
    width: 1320px;
    justify-content: space-between;
    margin: 0 auto;
    transition: all ease 0.3s;
}
.sponsor_link{
    transition: all ease 0.5s;
}
.sponsor_link:hover{
    transform: scale(1.1);
}
.stopShop{
    padding: 130px 60px;
    background: url('../img/stop_shop-bg.png')center/cover no-repeat;
}
.stopShop_fire{
    margin: 0 auto;
    width: 203px;
}
.stopShop_title{
    width: 716px;
    line-height: 74px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    margin: 11px auto 39px;
}
.stopShop_subtitle{
    width: 698px;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: rgba(223, 223, 223, 0.8);
    margin: 0 auto 61px;
}
.wraper_grid{
    display: grid;
    width: 1204px;
    margin: 0 auto;
    grid-template-columns: repeat(2,586px);
    grid-template-rows: repeat(2, 212px);
    gap: 32px;
}
.stopShop_capabil{
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    padding: 35px 35px 35px 80px;
}
.capabil_title{
    line-height: 42px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 19px;
    position: relative;
}
.capabil_title::before{
    content: '';
    background: url('../img/icon/cube.svg')center/cover no-repeat;
    width: 29px;
    height: 29px;
    position: absolute;
    top: 4px;
    left: -40px;
}
.capabil_descript{
    font-size: 18px;
    line-height: 28px;
    color: rgba(223, 223, 223, 0.8);
}
.era{
    padding: 130px 60px;
    background-color: #141820;
}
.era_wraper{
    justify-content: space-between;
}
.era_titile{
    line-height: 74px;
    text-transform: capitalize;
    color: #FFFFFF;
    width: 676px;
    margin: 10px 0 38px;
}
.era_subtitle{
    font-size: 20px;
    line-height: 30px;
    color: rgba(223, 223, 223, 0.8);
    width: 721px;
    margin-bottom: 75px;
}
.video_playr{
    position: relative;
}
.video_icon-play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.video_icon-img{
    transition: all ease 0.3s;
}
.video_icon-img:hover{
    transform: scale(1.1);
}
.custom{
    padding: 0 60px;
    background: #2A313C;
}
.custom_content{
    margin: 82px 0;
}
.custom_title{
    line-height: 74px;
    text-transform: capitalize;
    color: #FFFFFF;
    width: 554px;
    margin: 11px 0 38px;
}
.custom_subtitle{
    font-size: 20px;
    line-height: 30px;
    color: rgba(223, 223, 223, 0.8);
    width: 561px;
}
.custom_foto{
    margin-top: 55px;
    width: 596px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.active-foto{
    border: 10px solid #3B3D46;
    border-radius: 20px;
}
.multiplay_section{
    background: #141820;
}
.multiplay_content{
    display: flex;
    align-items: center;
}
.multiplay_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 480px;
    height: 730px;
}
.multiplay_item-title{
    font-size: 42px;
}
.aim{
    background: url('../img/capabilites/smooth_fps.jpg') center/cover no-repeat;
    padding: 272px 76px;
}
.multiplay{
    background: url('../img/capabilites/multiplayer.jpg') center/cover no-repeat;
    padding: 272px 90px;
}
.compass{
    background: url('../img/capabilites/open_world.jpg') center/cover no-repeat;
    padding: 272px 29px;
}
.multiplay_item-title{
    line-height: 58px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.news{
    padding: 130px 60px;
    background-color: #141820;
}
.wraper_news{
    justify-content: space-between;
    margin-bottom: 65px;
}
.news_title{
    line-height: 74px;
    text-transform: capitalize;
    color: #FFFFFF;
    width: 541px;
    margin-top: 12px;
}
.btn-news{
    margin-top: 107px;
}
.news_main-img{
    border-radius: 46px;
}
.news_grid{
    display: grid;
    grid-template-columns: repeat(2, 648px);
    grid-template-rows: 702px;
    column-gap: 20px;
}
.news_main-data{
    font-size: 18px;
    line-height: 18px;
    color: #57B8FF;
    margin: 54px 0 28px;
}
.news_main-title{
    font-size: 36px;
    line-height: 46px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.news_additional{
    display: grid;
    grid-template-columns: repeat(2, 312px);
    grid-template-rows: repeat(2, 335px);
    column-gap: 24px;
    row-gap: 40px;
}
.news_additional-img{
    border-radius: 25px;
}
.news_additional-data{
    font-size: 16px;
    line-height: 16px;
    color: #57B8FF;
    margin: 30px 0 20px;
}
.news_additional-title{
    font-size: 23px;
    line-height: 34px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.form{
    padding: 130px 0;
    background: url('../img/bg_form.png')center/cover no-repeat;
}
.form_title{
    width: 746px;
    font-size: 64px;
    line-height: 82px;
    text-align: center;
    color: #141820;
    margin: 0 auto;
    position: relative;
}
.form_title::after{
    content:'';
    position: absolute;
    bottom: -10px;
    right: 10px;
    background: url('../img/line.svg')center no-repeat;
    width: 434px;
    height: 16px;
}
.form_subtitle{
    width: 846px;
    margin: 32px auto 44px;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #555555;
}
form{
    width: 674px;
    margin: 0 auto;
}
.input_email{
    width: 396px;
    padding: 26px 0 26px 13px;
    border: none;
    font-size: 18px;
    line-height: 28px;
    color: #555555;
}
.input_email:active, :focus {
    outline: 0;
    outline-offset: 0;
}
footer{
    padding: 130px 60px 60px;
    background: #222730;
}
.footer_wrap{
    justify-content: space-between;
    align-items: start;
}
.footer_logo-descript{
    margin-top: 35px;
    width: 289px;
    font-size: 15px;
    line-height: 25px;
    color: #999999;
}
.footer-title{
    font-size: 18px;
    line-height: 30px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.footer_list{
    display: flex;
    flex-direction: column;
}
.footer-link{
    font-size: 15px;
    line-height: 38px;
    text-transform: capitalize;
    color: #999999;
}
.footer-img{
    width: 48px;
    height: 48px;
    margin-right: 15px;
}
.divider{
    background: #3E3E3E;
    height: 1px;
    width: 95%;
    margin: 60px auto 48px;
    
}
.copyrigth{
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #898989;
}
@media (max-width: 1440px){
    
    html, body {
        overflow-x: hidden;
    }
    .container{
        width: 1140px;
    }
    .main{
        padding: 20px 10px 150px;
    }
    h1{
        font-size: 60px;
    }
    p{
        font-size: 18px;
    }
    .main_title{
        width: 553px;
    }
    .main_title::after{
        width: 382px;
    }
    .main_subtitle{
        width: 540px;
    }
    .main-bg{
        width: 570px;
        height: 490px;
    }
    .social_link{
        top: 44.9%;
        left: -31%;
    }
    .sponsor_title::after {
        width: 285px;
        right: 33%;
    }
    .sponsor{
        padding: 100px 20px;
    }
    .sponsor_wraper{
        width: 1140px;
    }
    .sponsor_img{
        width: 170px;        
    }
    .wraper_grid{
        grid-template-columns: repeat(2,530px);
        grid-template-rows: repeat(2, 215px);
    }
    .capabil_descript{
        font-size: 16px;
    }
    .era{
        padding: 100px 20px;
    }
    .era_titile{
        width: 550px;
    }
    .era_subtitle{
        width: 550px;
        font-size: 18px;
    }
    .custom{
        padding: 0 20px;
    }
    .custom_bg{
        width: 500px;
    }
    .multiplay_container{
        width: 1200px;
    }
    .multiplay_item-title{
        font-size: 34px;
    }
    .news{
        padding: 100px 20px;
    }
    .news_grid{
        grid-template-columns: repeat(2, 560px);
    }
   .news_main-img{
        width: 560px;
    }
    .news_main-title{
        font-size: 28px;
    }
    .news_additional{
        grid-template-columns: repeat(2, 272px);
        grid-template-rows: repeat(2, 300px);
        column-gap: 15px;
        row-gap: 25px;
    }
    .news_additional-img{
        width: 272px;
    }
    .news_additional-data{
        font-size: 14px;
    }
    .news_additional-title{
        font-size: 18px;
    }
    .btn-news{
        margin-right: 0;
    }
    .form_title{
        font-size: 55px;
        width: 670px;
    }
    .form_subtitle{
        font-size: 16px;
        width: 740px;
    }
    footer{
        padding: 100px 20px;
    }
   
}

@media (max-width: 1200px){
 
    .container{
        width: 960px;
    }
  
    .main_wraper{
        display: block;
    }
    .nav_menu ul{
        width: 555px;
    }
    .contacts_btn{
        padding: 16px 25px;
    }
    .main_content{
        margin-left: 80px;
    }
    .social_link{
        left: -20%;
    }
    .main-bg{
        display: block;
        margin: 30px auto 0;
    }
    .sponsor_title::after {
        width: 285px;
        right: 30%;
    }
    .sponsor_wraper{
        width: 785px;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    .sponsor_link{
        margin-right: 30px;
        margin-bottom: 30px;
    }
    .stopShop{
        padding: 100px 20px;
    }
    .wraper_grid{
        grid-template-columns: repeat(2,460px);
        grid-template-rows: repeat(2, 268px);
    }
    .stopShop_capabil{
        padding-left: 60px;
    }
    .capabil_title{
        font-size: 25px;
    }
    .capabil_descript{
        font-size: 16px;
    }
    .video{
        width: 400px;
        height: 460px;
    }
    .video_icon-img{
        width: 100px;
        height: 100px;
    }
    .custom_bg{
        width: 500px;
    }
    .custom_subtitle{
        width: 435px;
        font-size: 17px;
    }
    .custom_foto{
        width: 386px;
        overflow: hidden;
    }
    .custom_foto-item{
        margin-right: 10px;
    }
    .multiplay_container{
        margin: 0 auto;
    }
    .multiplay_container{
        max-width: 1200px;
    }
    .multiplay_item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 330.6px;
        height: 601px;
        padding: 0;
    }
    .multiplay_item-title{
        font-size: 30px;
    }
    .multiplay_item-img{
        width: 100px;
        height: 100px;
    }
    
    .news_grid{
        margin-left: 65px;
        grid-template-columns: 648px;
    }
   
  
} 
@media (max-width: 992px){
    .container{
        width: 720px;
    }
    .desctop{
        display: none;
    }
    .mobile{
        display: block;
    }
    .navbar-mob{
        width: 720px;
    }
    .navbar-style{
        border: none;
    }
    .contacts_basket {
        right: -160px;
    }
    .mob-menu{
        display: block;
        height: 4px;
        width: 32px;
        background-color: #fff;
        border-radius: 20px;
    }
    .mob-menu:nth-child(2){
        margin: 7px 0 7px;
    }
    .offcanvas-style{
        width: 250px;
    }
    .offcanvas-body ul{
        flex-direction: column;
        width: 100px;
    }
    .nav_menu-link{
        color: #FAC422;
    }
    .nav_menu-item{
        margin-bottom: 20px;
    }
    .social_link {
        left: -28%;
    }
    .sponsor_title::after {
        width: 270px;
        right: 23%;
    }
    .sponsor_wraper {
        width: 720px;
    }
    .wraper_grid {
        grid-template-columns: repeat(2,337px);
        grid-template-rows: repeat(2, 341px);
    }
    h2{
        font-size: 37px;
    }
    .stopShop_title{
        width: 500px;
    }
    .stopShop_subtitle{
        width: 600px;
        font-size: 16px;
    }
    .era_wraper{
        flex-direction: column;
    }
    .era_subtitle{
        width: 600px;
    }
    .video_playr{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .custom_foto{
        width: 600px;
    }
    .custom_subtitle{
        width: 600px;
    }
    .multiplay_container{
        width: 760px;
    }
    .multiplay_content{
        flex-wrap: wrap;
        justify-content: center;
    }
    .multiplay_item{
        height: 500px;
    }
    .news_title{
        width: 470px;
    }
    form{
        width: 600px;
    }
    .form_subtitle {
        font-size: 14px;
        width: 644px;
    }
    .input_email{
        font-size: 16px;
        padding: 23px 0 23px 13px;
    }
    .form-btn{
        margin: 0;
        font-size: 16px;
        padding: 19px 31px;
    }
    .footer_wrap{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .footer_social{
        margin-top: 20px;
    }
}
@media (max-width: 768px) {
    .main {
        padding: 20px 0px 150px;
    }
    .main_more{
        width: 101%;
    }
    .stopShop {
        padding: 100px 0px;
    }
    .era {
        padding: 100px 0px;
    }
    .custom {
        padding: 0;
    }
    .news {
        padding: 100px 0px;
    }
    .container{
        width: 467px;
        padding: 0;
    }
    .navbar-mob{
        width: 95%;
    }
    .contacts_basket {
         right: -12%;
    }
    .main_wraper {
        margin-top: 115px;
    }
    .main_subtitle{
        width: 95%;
    }
    .container-fluid{
        padding: 0;
    }
    .main_content{
        margin: 0;
    }
    h1{
        font-size: 42px;
    }
    .main_title{
        width: 82%;
    }
    .main_title::after {
        width: 277px;
        bottom: 82px;
        right: -6px;
    }
    .social_link {
        left: -40%;
        top: 34.9%;
    }
    .sponsor_title::after {
        width: 217px;
        right: 21%;
    }
    .sponsor_descript {
        width: 500px;
    }
    .sponsor_wraper {
        width: 413px;
    }
    .stopShop_subtitle{
        width: 510px;
    }
    h2{
        font-size: 30px;
    }
    .stopShop_title {
        width: 440px;
    }
    .multiplay{
        margin: 10px 0;
    }
    .capabil_title {
        font-size: 19px;
    }
    .capabil_descript {
        font-size: 14px;
    }
    .wraper_grid {
        grid-template-columns: repeat(2,240px);
        grid-template-rows: repeat(2, 399px);
    }
    .era_titile {
        width: 485px;
    }
    .era_subtitle {
        width: 515px;
    }
    .custom_title{
        width: 500px;
    }
    .custom_subtitle {
        width: 500px;
    }
    p{
        font-size: 15px;
    }
    .custom_foto-item{
        width: 150px;
    }
    .custom_foto {
        width: 535px;
    }
    .news_title {
        width: 270px;
    }
    .btn-news{
        width: 185px;
        height: 75px;
        margin-top: 75px;
    }
    .news_grid {
        margin-left: 0;
        grid-template-columns: 520px;
    }
    .news_main-img {
        width: 520px;
    }
    .news_additional-img {
        width: 250px;
    }
    .news_additional-title {
        font-size: 17px;
    }
    .form_title {
        font-size: 27px;
        width: 516px;
    }
    .form_subtitle {
        font-size: 12px;
        width: 492px;
    }
    .input_email {
        font-size: 15px;
        padding: 18px 0 18px 13px;
        width: 335px;
    }
    .form-btn {
        font-size: 14px;
        padding: 14px 23px;
    }
    .footer_wrap{
        flex-direction: column;
    }
    .footer_logo-descript {
        width: 440px;
    }
    .footer_menu,.footer_page,.footer_social{
        margin-left: 50px;
    }
  
}

@media (max-width: 576px) {
	.container {
		width: 90%;
	}
    .sponsor_descript {
        width: 100%;
    }
    .stopShop_subtitle {
        width: 100%;
    }
    .wraper_grid {
        grid-template-columns: repeat(1,450px);
        grid-template-rows: repeat(4, 230px);
    }
    .era_subtitle{
        width: 100%;
    }
    .custom_foto {
        width: 100%;
    }
    .news_grid{
        grid-template-rows: 620px;
    }
    .news_main-img {
        width: 92%;
    }
    .news_additional{
        grid-template-columns: 350px;
    }
    .input_email {
        width: 278px;
    }
    .form_title {
        font-size: 22px;
    }
}