.slick-list {
    overflow: hidden;
    width: 596px;
}
.slick-track{
    position: relative;
    display: flex;
    align-items: center;
}


.slick-slide img{
    width: 174px;
    height: 102px;
}

.slick-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #fff;
    opacity: 30%;
    transition: all ease 0.6s;
    border:none;
}
.slick-arrow:hover{
    opacity: 100%;
}
.slick-arrow.slick-prev{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 1%;
    transform: rotate(-90deg);
    z-index: 1000;
}
.slick-arrow.slick-next{
    width: 30px;
    height: 30px;
    position: absolute;
    right: -3%;
    transform: rotate(90deg);
    z-index: 1000;
}
.slick-next img, .slick-prev img{
    width: 20px;
    height: 20px;
    z-index: 1000;
}

@media (max-width: 1200px){
    .slick-slide img {
        width: 106px;
        height: 72px;
    }
}

@media (max-width: 576px){
    .slick-arrow.slick-prev {
        left: -4%;
    }
    .slick-arrow.slick-next {
        right: 1%;
    }
}